:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --Light-grayish-cyan: hsl(180, 52%, 96%);
  --Light-grayish-cyan2: hsl(180, 31%, 95%);
  --Dark-grayish-cyan: hsl(180, 8%, 52%);
  --VeryDark-grayish-cyan: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
}

header {
  width: 100%;
  height: 150px;
  background-color: var(--desaturated-dark-cyan);
  background-image: url(https://firebasestorage.googleapis.com/v0/b/filter-job-list.appspot.com/o/bg-header-mobile.svg?alt=media&token=f8efc641-cfba-4524-b380-246bdb897e0a);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--Light-grayish-cyan);
}

main .main__filter-container {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 20px 20px 5px;
  background-color: white;
  border-radius: 5px;
}
.showfilters-containers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
.filter {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  height: 33px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.filter .keyword p {
  width: auto;
  padding: 10px;
  color: var(--desaturated-dark-cyan);
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--Light-grayish-cyan);
  border-radius: 5px 0 0 5px;
}
.filter .remove {
  width: 33px;
  height: 33px;
  background-color: var(--desaturated-dark-cyan);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.filter .remove img {
  width: 100%;
  padding: 10px;
}
.clear-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  color: var(--Dark-grayish-cyan);
  font-weight: 700;
}

main .main__cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 40px 20px 20px;
}
main .main__cards-container.filter-active {
  margin-top: -30px;
}
.job__card {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 45px;
  padding: 40px 20px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 10px 15px 0px rgba(91, 164, 164, 0.25);
}
.job__card.manage,
.job__card.photosnap {
  border-left: 5px solid var(--desaturated-dark-cyan);
}
.card__img {
  position: absolute;
  display: block;
  top: -25px;
  width: 50px;
  height: 50px;
}
.card__img img {
  display: block;
  width: 100%;
}
.card__dates {
  padding-bottom: 20px;
  border-bottom: 0.5px solid var(--Dark-grayish-cyan);
}
.card__dates .dates__company {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 700;
}
.card__dates .dates__company p {
  margin-right: 10px;
}
.card__dates .dates__company .p1 {
  color: var(--desaturated-dark-cyan);
}
.card__dates .dates__company .p2 {
  width: 54px;
  height: 23px;
  padding: 7px 10px;
  color: white;
  font-size: 1.1rem;
  background-color: var(--desaturated-dark-cyan);
  border-radius: 11px;
}
.card__dates .dates__company .p3 {
  width: 80px;
  height: 23px;
  padding: 7px 10px;
  color: white;
  font-size: 1.1rem;
  background-color: var(--VeryDark-grayish-cyan);
  border-radius: 11px;
}
.card__dates .dates__job {
  margin-bottom: 15px;
}
.card__dates .dates__job a {
  color: var(--VeryDark-grayish-cyan);
  font-weight: 700;
  text-decoration: none;
}
.card__dates .dates__date {
  display: flex;
  color: var(--Dark-grayish-cyan);
  font-size: 1.3rem;
}
.card__dates .dates__date ul {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 25px;
}
.card__dates .dates__date li {
  margin-right: 25px;
}
.card__keywords {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.card__keywords p {
  width: auto;
  height: 33px;
  margin-right: 15px;
  margin-top: 15px;
  padding: 10px;
  color: var(--desaturated-dark-cyan);
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--Light-grayish-cyan);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  main .main__filter-container {
    width: 85%;
  }

  main .main__cards-container {
    width: 85%;
    margin: 0 auto;
    padding: 40px 0 20px;
  }
  .job__card {
    position: static;
    display: flex;
    flex-wrap: wrap;
  }
  .card__img {
    position: static;
    width: 20%;
    max-width: 100px;
    margin-right: 20px;
  }
  .card__dates {
    width: 75%;
    border-bottom: none;
  }
}
